USE [master]
GO
/****** Object:  Database [GENERALAMF]    Script Date: 12/03/2015 12:23:12 ******/
CREATE DATABASE [GENERALAMF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GENERALAMF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GENERALAMF.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GENERALAMF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GENERALAMF_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GENERALAMF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GENERALAMF]
GO
/****** Object:  StoredProcedure [dbo].[BUSCARUSUARIO]    Script Date: 12/03/2015 12:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCARUSUARIO]
@usuario VARCHAR(10)
AS 
BEGIN 
SELECT IDusuario, usuario, nombre, apellido, email, sexo, victorias, partidos FROM USUARIO WHERE usuario = @usuario
END

GO
/****** Object:  StoredProcedure [dbo].[GUARDARPARTIDOS]    Script Date: 12/03/2015 12:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDARPARTIDOS]
@usuario VARCHAR(10), @partidos INT
AS 
BEGIN
UPDATE USUARIO SET partidos = @partidos WHERE usuario = @usuario
END

GO
/****** Object:  StoredProcedure [dbo].[GUARDARVICTORIA]    Script Date: 12/03/2015 12:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDARVICTORIA]
@usuario VARCHAR(10), @victorias INT
AS 
BEGIN
UPDATE USUARIO SET victorias = @victorias WHERE usuario = @usuario
END

GO
/****** Object:  StoredProcedure [dbo].[LISTARUSRESTADISTICA]    Script Date: 12/03/2015 12:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTARUSRESTADISTICA]
AS 
BEGIN 
SELECT usuario, victorias, partidos FROM USUARIO order by victorias desc, partidos desc, usuario desc
END

GO
/****** Object:  StoredProcedure [dbo].[LISTARUSRREGISTRADOS]    Script Date: 12/03/2015 12:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTARUSRREGISTRADOS]
AS
BEGIN 
SELECT usuario FROM USUARIO
END

GO
/****** Object:  StoredProcedure [dbo].[LOGINUSUARIO]    Script Date: 12/03/2015 12:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOGINUSUARIO]
@usuario VARCHAR(10), @passwd VARCHAR(10)
AS 
BEGIN 
SELECT usuario, passwd FROM USUARIO WHERE usuario = @usuario AND passwd = @passwd
END

GO
/****** Object:  StoredProcedure [dbo].[REGISTRARUSUARIO]    Script Date: 12/03/2015 12:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[REGISTRARUSUARIO]
@usuario VARCHAR(10), @passwd VARCHAR(10), @nombre VARCHAR(16), @apellido VARCHAR(16), @email VARCHAR(60), @sexo VARCHAR(10)
AS 
BEGIN
DECLARE @ID INT
SET @ID = (SELECT COUNT(*) FROM USUARIO)
IF @ID > 0
BEGIN
	SET @ID = (SELECT MAX(@ID) FROM USUARIO ) 
END
SET @ID = @ID +1
INSERT INTO USUARIO(IDusuario, usuario, passwd, nombre, apellido, email, sexo, victorias, partidos) VALUES (@ID, @usuario, @passwd, @nombre, @apellido, @email, @sexo, 0, 0)
END

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 12/03/2015 12:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDusuario] [int] NOT NULL,
	[usuario] [varchar](10) NOT NULL,
	[passwd] [varchar](10) NOT NULL,
	[nombre] [varchar](16) NOT NULL,
	[apellido] [varchar](16) NOT NULL,
	[email] [varchar](60) NOT NULL,
	[sexo] [varchar](10) NOT NULL,
	[victorias] [int] NOT NULL,
	[partidos] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
